!!!
%html{"ng-app" => "app"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ content: 'width=device-width', name: 'viewport' }
    %title TodoListApiAngular
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
  %body
    = render "layouts/header"
    .container
      .view-container
        .view-frame.animate-view{"ui-view" => ""}
      = yield
